examples/coffeemachine.json
[{"id":"2703b5b9.5a3fa2","type":"tab","label":"Coffee Machine","disabled":false,"info":""},{"id":"5895753b.f4db74","type":"ui_template","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","name":"Button Coin","order":7,"width":"4","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   class=\"md-raised\"\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-euro\"></ui-icon> \n    Coin\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":40,"wires":[["e969f082.253aa"]]},{"id":"5ccb9a17.38f6d4","type":"ui_template","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","name":"Button TakeCoffee","order":8,"width":"4","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-hand-paper-o\"></ui-icon> \n       Take Glass\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":80,"wires":[["8969bda7.f9dbe8"]]},{"id":"200cf7a0.f2d45","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Tea","order":3,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-tint\"></ui-icon> \n       Tea\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":120,"wires":[["6075eaa3.6c0e9c"]]},{"id":"b6f37e0e.81a3b","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Expresso","order":4,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-coffee\"></ui-icon> \n       Expresso\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":160,"wires":[["8500a0e5.68e3a8"]]},{"id":"68570a56.b2fb14","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Doppio","order":5,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-coffee\"></ui-icon> \n       Doppio\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":200,"wires":[["d3146163.a5f7a"]]},{"id":"ac86df86.033e7","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Long","order":6,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-coffee fa-2x\"></ui-icon> \n       Long\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":240,"wires":[["3d4fe1cb.a242f6"]]},{"id":"fb7f10cf.e4889","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Special","order":7,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n   <ui-icon icon=\"fa-coffee\"></ui-icon> \n       Special\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":280,"wires":[["b99928e2.dc872"]]},{"id":"908f3de1.7a7678","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Strengh","order":8,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Strengh\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":320,"wires":[["20b30316.3690e4"]]},{"id":"eaf955d4.f1ccb8","type":"ui_template","z":"2703b5b9.5a3fa2","group":"a3253382.95a7b","name":"Button Lenght","order":9,"width":0,"height":0,"format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Length\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":360,"wires":[["f6a723e4.a839d"]]},{"id":"4f3e9746.88491","type":"ui_template","z":"2703b5b9.5a3fa2","group":"ed8b534e.8fe38","name":"Button FillWater","order":10,"width":"4","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Fill Water\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":400,"wires":[["ed83e9c8.756558"]]},{"id":"5ab33e30.04feb","type":"ui_template","z":"2703b5b9.5a3fa2","group":"ed8b534e.8fe38","name":"Button FillCoffee","order":11,"width":"4","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Fill Coffee\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":440,"wires":[["73fce3c.3f9091c"]]},{"id":"b47473b9.fd6a68","type":"ui_template","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","name":"Button DataLeft","order":2,"width":"1","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       <<\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":480,"wires":[["462fa116.8cfa9"]]},{"id":"c4156831.42926","type":"ui_template","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","name":"Button DataRight","order":4,"width":"1","height":"1","format":"<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       >>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":520,"wires":[["2176598f.91b5b6"]]},{"id":"3bf08a52.de0dae","type":"ui_gauge","z":"2703b5b9.5a3fa2","name":"WaterTank","group":"ed8b534e.8fe38","order":1,"width":"4","height":"3","gtype":"wave","title":"Water","label":"","format":"{{value}}","min":0,"max":"2100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":320,"wires":[]},{"id":"dc39d54.2794528","type":"ui_gauge","z":"2703b5b9.5a3fa2","name":"CoffeeTank","group":"ed8b534e.8fe38","order":2,"width":"4","height":"3","gtype":"compass","title":"Coffee","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":360,"wires":[]},{"id":"cb9fd8d8.93fa28","type":"ui_gauge","z":"2703b5b9.5a3fa2","name":"GlassLevelCoffee","group":"6a069444.939d14","order":1,"width":"8","height":"3","gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":280,"wires":[]},{"id":"b61d4965.412e08","type":"ui_text","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","order":3,"width":"6","height":"1","name":"ScreenUp","label":"","format":"{{msg.payload}}","layout":"row-center","x":910,"y":200,"wires":[]},{"id":"54e34abb.210eec","type":"ui_text","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","order":5,"width":"8","height":"1","name":"ScreenDown","label":"","format":"{{msg.payload}}","layout":"row-center","x":910,"y":240,"wires":[]},{"id":"f120b000.aae77","type":"straton read","z":"2703b5b9.5a3fa2","name":"","address":"ws://192.168.1.13:8000","subs":[{"v":"messageSteps","vt":"app"},{"v":"screenUP","vt":"app"},{"v":"screenDOWN","vt":"app"},{"v":"GlassLevelCoffee","vt":"app"},{"v":"GlassLevelTea","vt":"app"},{"v":"WaterTank","vt":"app"},{"v":"CoffeeTank","vt":"app"}],"outputs":7,"x":690,"y":260,"wires":[["125fadbd.8e8c9a"],["b61d4965.412e08"],["54e34abb.210eec"],["cb9fd8d8.93fa28"],["cb9fd8d8.93fa28"],["3bf08a52.de0dae"],["dc39d54.2794528"]]},{"id":"e969f082.253aa","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Coin","variableType":"app","x":390,"y":40,"wires":[]},{"id":"8969bda7.f9dbe8","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_TakeCoffee","variableType":"app","x":410,"y":80,"wires":[]},{"id":"6075eaa3.6c0e9c","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Tea","variableType":"app","x":390,"y":120,"wires":[]},{"id":"8500a0e5.68e3a8","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Expresso","variableType":"app","x":410,"y":160,"wires":[]},{"id":"d3146163.a5f7a","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Doppio","variableType":"app","x":400,"y":200,"wires":[]},{"id":"3d4fe1cb.a242f6","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Long","variableType":"app","x":390,"y":240,"wires":[]},{"id":"b99928e2.dc872","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Special","variableType":"app","x":400,"y":280,"wires":[]},{"id":"20b30316.3690e4","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Strengh","variableType":"app","x":400,"y":320,"wires":[]},{"id":"f6a723e4.a839d","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_Lenght","variableType":"app","x":400,"y":360,"wires":[]},{"id":"ed83e9c8.756558","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_FillWater","variableType":"app","x":410,"y":400,"wires":[]},{"id":"73fce3c.3f9091c","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_FillCoffee","variableType":"app","x":410,"y":440,"wires":[]},{"id":"462fa116.8cfa9","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_DataLeft","variableType":"app","x":410,"y":480,"wires":[]},{"id":"2176598f.91b5b6","type":"straton write","z":"2703b5b9.5a3fa2","address":"ws://192.168.1.13:8000","name":"","variable":"PushBut_DataRight","variableType":"app","x":410,"y":520,"wires":[]},{"id":"125fadbd.8e8c9a","type":"ui_text","z":"2703b5b9.5a3fa2","group":"6a069444.939d14","order":6,"width":"8","height":"1","name":"messageSteps","label":"","format":"{{msg.payload}}","layout":"row-center","x":920,"y":140,"wires":[]},{"id":"6a069444.939d14","type":"ui_group","z":"","name":"Group 4","tab":"5f811c3b.7ffbc4","order":3,"disp":false,"width":"8","collapse":false},{"id":"a3253382.95a7b","type":"ui_group","z":"","name":"Variables","tab":"5f811c3b.7ffbc4","order":1,"disp":false,"width":"6","collapse":false},{"id":"ed8b534e.8fe38","type":"ui_group","z":"","name":"Tanks","tab":"5f811c3b.7ffbc4","order":2,"disp":true,"width":"8","collapse":false},{"id":"5f811c3b.7ffbc4","type":"ui_tab","z":"","name":"Appli Coffee Machine","icon":"dashboard","disabled":false,"hidden":false}]